.main-header {
  background-color: #283645;
  // background: #283645 url("../../img/bg-back-mobile@1x.jpg") no-repeat top;
  color: #fff;
}

.main-header__wrapper {
  width: $mobile;
  margin: 0 auto;
  // padding: 0 20px;
  outline: 2px solid red;

  @media (min-width: $tablet) {
    width: $tablet;
  }

  @media (min-width: $desktop) {
    width: $desktop;
  }
}
