.main-header {
  background-color: $dark-blue;
  background-image: url("../../img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: top;
  color: #fff;

  &--opened {
    background-position: center 260px;
  }

  @media (min-width: $desktop) {
    background-position: top;
  }
}

.main-header__wrapper {
  width: $mobile;
  margin: 0 auto;
  outline: 2px solid red;

  @media (min-width: $tablet) {
    width: $tablet;
  }

  @media (min-width: $desktop) {
    width: $desktop;
  }
}
