*,
*::after,
*::before {
 box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  min-width: $mobile;
  font-family: "Open Sans", "Optima", sans-serif;
  font-size: $font-size;
  line-height: 1.2 * $font-size;

}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;

  white-space: nowrap;
  border: 0;
  clip: rect(0 0 0 0);
}

.container {
  width: $mobile;
  margin: 0 auto;
  padding: 0 20px;

  @media (min-width: $tablet) {
    width: $tablet;
  }

  @media (min-width: $desktop) {
    width: $desktop;
  }
}
